<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tugasbesar"
        tools:targetApi="31">
        <activity
            android:name=".HomeBus"
            android:exported="false" />
        <activity
            android:name=".HomeTrain"
            android:exported="false" />
        <activity
            android:name=".HomePlane"
            android:exported="false" />
        <activity
            android:name=".ProductDetail"
            android:exported="false" />
        <activity
            android:name=".HomeHotel"
            android:exported="false" />
        <activity
            android:name=".NotImplemented"
            android:exported="false" />
        <activity
            android:name=".ItemRatingBar"
            android:exported="false" />
        <activity
            android:name=".ProfileAbout"
            android:exported="false" />
        <activity
            android:name=".ProfileSettings"
            android:exported="false" />
        <activity
            android:name=".ProfileAccessibility"
            android:exported="false" />
        <activity
            android:name=".ProfilePayment"
            android:exported="false" />
        <activity
            android:name=".ProfileGeograph"
            android:exported="false" />
        <activity
            android:name=".ProfileSecurity"
            android:exported="false" />
        <activity
            android:name=".ProfileAccount"
            android:exported="false" />
        <activity
            android:name=".MainProfile"
            android:exported="false" />
        <activity
            android:name=".MainHome"
            android:exported="false" />
        <activity
            android:name=".Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>